/* todosComponent's private CSS styles */
.todos {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.todos li {
  position: relative;
  cursor: pointer;
}

.todos li:hover {
  left: .1em;
}

.todos a {
  color: #333;
  text-decoration: none;
  background-color: #ff6666;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

.todos a:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
}

.todos a:active {
  background-color: #525252;
  color: #fafafa;
}