/* todosComponent's private CSS styles */
.todos {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.todos_ind {
  position: relative;
  cursor: pointer;
}

.todos_ind:hover {
  left: .1em;
}

.todos a {
  color: #333;
  text-decoration: none;
  margin: .5em;
  padding: .5em .3em 0;
  height: 10em;
  border-radius: 4px;
  display: block;
  width: 200%;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.todos .completed {
  background-color: #66ff66;
}

.todos  .incompleted{
  background-color: #ff6666;
}

.todos a:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
}

.todos a:active {
  background-color: #525252;
  color: #fafafa;
}

.todos_ind_list{
  list-style-type: none;
  &_title {
    font-style: italic;
  }
  &_completed {
    background-color: whitesmoke;
    color: cornflowerblue;
  }
  &_id {
    text-shadow: 0 0.1rem 0.4rem blue;
  }
  &_userId {
    font-size: 2rem;
    text-align: center;
  }
}