<div class="todos-page">
  <h2>ToDos List</h2>
  <li *ngFor="let todo of todos" class="todos-page_ind">
    <div class="todos-page_ind_container" [class]="todo.completed ? 'completed' : 'incompleted'">
      <ul class="todos-page_ind_container_list">
        <li>
          <app-todo-card [(userId)]="todo.userId"></app-todo-card>
          <span class="todos-page_ind_container_list_title"> - {{todo.title}}</span>
        </li>
        <li>
          Completed: 
          <span class="todos-page_ind_container_list_completed">{{todo.completed}}</span>
        </li>
        <li>
          Id: 
          <span class="todos-page_ind_container_list_id">{{todo.id}}</span>
        </li>
        <li>
          UserId: 
          <span class="todos-page_ind_container_list_userId">{{todo.userId}} </span>
          <img src="\assets\img\user.png" width="50">
        </li>
      </ul>
    </div>
  </li>
</div>