.container {
  color: #333;
  text-decoration: none;
  margin: .5em;
  padding: .5em .3em 0;
  height: 10em;
  border-radius: 4px;
  display: block;
  // width: 75%;
  border-width: 2px;
  border-style: solid;
  border-color: var(--color-2-black);

  // margin: 0 0 0.5rem 0;
  // list-style-type: none;
  // padding: 0;
  // width: 25rem;

  position: relative;
  cursor: pointer;

  &:hover {
    color: var(--color-1-ultra-dark);
    background-color: var(--color-2-almost-white);
    left: .1em;
  }

  &:active {
    background-color: var(--color-2-black);
    color: var(--color-2-almost-white);
  }

  &_list {
    list-style-type: none;

    &_header {

      &_prefix {
        font-weight: bold;
      }

      &_title {
        font-style: italic;
        // overflow-wrap: break-word;
        overflow: hidden;
        // white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    &_completed {

      &_text {
        background-color: var(--color-2-almost-white);
        color: var(--color-6-light);
      }
    }

    &_id {

      &_text {
        text-shadow: 0 0.1rem 0.4rem var(--color-6);
      }
    }

    &_uid {

      &_text {
        font-size: 2rem;
        text-align: center;
      }
    }
  }
}

.completed {
  background-color: var(--color-4-light);
}

.incompleted {
  background-color: var(--color-5-light);
}
