<div class="container" [class]="completed ? 'completed' : 'incompleted'">
  <!-- <div class="container" [class]="{completed: completed, incompleted: !completed}"> -->
  <ul class="container_list">
    <li class="container_list_header">
      <span class="container_list_header_prefix" *ngIf="userId">
        <span *ngIf="userId === todoTypes.ADMIN || userId === todoTypes.MODER">{{todoTypeNames[userId]}} - </span>
      </span>
      <span class="container_list_header_title">{{title}}</span>
    </li>
    <li class="container_list_completed">
      <span class="container_list_completed_label">Completed: </span>
      <span class="container_list_completed_text">{{completed}}</span>
    </li>
    <li class="container_list_id">
      <span class="container_list_id_label">Id: </span>
      <span class="container_list_id_text">{{id}}</span>
    </li>
    <li class="container_list_uid">
      <span class="container_list_uid_label">UserId: </span>
      <span class="container_list_uid_text">{{userId}} </span>
      <img class="container_list_uid_image" src="\assets\img\user.png" width="50">
    </li>
  </ul>
</div>