/* todosComponent's private CSS styles */
// .todos-page {
//   margin: 0 0 2em 0;
//   list-style-type: none;
//   padding: 0;
//   width: 15em;

//   &_ind {
//     position: relative;
//     cursor: pointer;

//     &:hover {
//       left: .1em;
//     }
//   }
// }

.flex-container {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  background-color: rgb(220, 240, 245);
  justify-content: left;
  // justify-content: space-around;
  border-radius: 2rem;
  margin: 0 auto;
  padding: 2rem;

  &_todo {
    width: 33%;
    box-sizing: border-box;
  }
}