<div class="heroes-page">

  <h2>My Heroes</h2>


  <div class="heroes-page_add">
    <!-- <p-dialog header="Title" [(visible)]="display" [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
    [style]="{width: '50vw'}">
    Content
  </p-dialog> -->

    <!-- <button type="button" (click)="showDialog()" icon="pi pi-info-circle" label="Show">Add Heroes</button> -->

    <p-button class="heroes-page_add_button" (click)="showModalDialog()" icon="pi pi-arrow-right" iconPos="right"
      label="Add Heroes"></p-button>
    <p-dialog class="heroes-page_add_dialog" (onHide)="closeModalDialogHide()" header="Header"
      [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" [draggable]="false" [resizable]="false">
      <form class="heroes-page_add_dialog_form" #heroesCreateForm="ngForm" id="heroesCreateForm" name="heroesCreateForm"
        (ngSubmit)="onSubmitHero()">
        <label class="heroes-page_add_dialog_form_label" id="new-hero-label" for="new-hero">Hero name: </label>
        <input class="heroes-page_add_dialog_form_input" id="new-hero" name="new-hero" [(ngModel)]="newHero.name"
          pInputText required="" />
      </form>
      <ng-template pTemplate="footer">
        <!-- <p-button icon="pi pi-times" (click)="closeModalDialog()" label="Cancel" styleClass="p-button-text"></p-button> -->
        <button class="heroes-page_add_dialog_button p-button-rounded p-button-success" pButton pRipple
          form="heroesCreateForm" label="Add Hero" icon="pi pi-check" type="submit"
          [disabled]="heroesCreateForm.invalid"></button>
        <button class="heroes-page_add_dialog_button p-button-rounded" pButton type="button" pRipple label="Cancel"
          icon="pi pi-times" (click)="closeModalDialog()"></button>

        <!-- <p-button icon="pi pi-check" (click)="onSubmitHero()" label="Add Hero" styleClass="p-button-text"></p-button> -->
      </ng-template>
    </p-dialog>
    <p-messages class="heroes-page_add-hero_message" [(value)]="msgs1" [enableService]="false"></p-messages>
  </div>

  <!-- <div> -->
  <!-- <form id="heroesCreateForm" name="heroesCreateForm" [formGroup]="checkoutForm" (ngSubmit)="onSubmit()"> -->
  <!-- <form #heroesCreateForm="ngForm" id="heroesCreateForm" name="heroesCreateForm" (ngSubmit)="onSubmitHero()"> -->
  <!-- <label for="new-hero">Hero name: </label> -->
  <!-- <input id="new-hero" name="new-hero" [(ngModel)]="newHero.name" required="" /> -->
  <!-- <input id="new-hero" name="new-hero" [(ngModel)]="newHero.name" type="text" formControlName="name"> -->
  <!-- <input id="new-hero" type="text" formControlName="name"> -->

  <!-- (click) passes input value to add() and then clears the input -->
  <!-- <button type="submit" class="add-button" [disabled]="!checkoutForm.valid">Add hero</button> -->
  <!-- <button type="submit" class="add-button" [disabled]="heroesCreateForm.invalid">Add hero</button> -->
  <!-- </form> -->
  <!-- </div> -->

  <!-- <div>
    <form #heroesCreateForm="ngForm" id="heroesCreateForm" name="heroesCreateForm" (ngSubmit)="onSubmitHero()">
      <label for="new-hero">Hero name: </label>
      <input id="new-hero" name="new-hero" [(ngModel)]="newHero.name" required="" />
      <button type="submit" class="add-button" [disabled]="heroesCreateForm.invalid">Add hero</button>
    </form>
  </div> -->

  <!-- <div class="container-fluid text-center" style="background-color: violet;">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-3">
        Column1
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        Column2
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        Column3
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        Column4
      </div>
    </div>
  </div> -->

  <div class="heroes-page_container">
    <div class="container-fluid">
      <div class="row">
        <li *ngFor="let hero of heroes" class="col-12 col-md-6 col-lg-3">
          <div class="heroes-page_container_card">
            <a class="heroes-page_container_card_link" routerLink="/heroes/detail/{{hero.id}}">
              <span class="heroes-page_container_card_link_badge">{{hero.id}}</span>
              <span class="heroes-page_container_card_link_name">{{hero.name}}</span>
              <!-- <span *ngIf="hero.typeId"> - {{heroTypeNames[hero.typeId]}}</span> -->
              <span class="heroes-page_container_card_link_type" *ngIf="hero.typeId">
                -
                <app-hero-type [(typeId)]="hero.typeId"></app-hero-type>
              </span>
            </a>
            <button class="heroes-page_container_card_button-delete" type="button" title="delete hero"
              (click)="onClickDelete(hero)">x</button>
            <app-label [(text)]="hero.name"></app-label>
            <!-- <app-label [text]="hero.name" (textChange)="onChangeTextParent($event, hero)"></app-label> -->
            <!-- <app-label [text]="hero.name" (textChange)="hero.name = $event"></app-label> -->
          </div>
        </li>
      </div>
    </div>
  </div>



  <!-- <div class="heroes-page_table">  Forma manual
    <p-table [value]="heroes">
      <ng-template pTemplate="header">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>TypeId</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-hero>
        <tr>
          <td>{{hero.id}}</td>
          <td>{{hero.name}}</td>
          <td>{{hero.typeId}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div> -->

  <div class="heroes-page_table" *ngIf="showTable"> <!-- Forma dinámica -->
    <p-table [value]="heroes" [paginator]="true" [(first)]="first" [resizableColumns]="true" sortMode="multiple"
      [columns]="cols" [rows]="4" [(first)]="first">
      <ng-template class="heroes-page_table_header" pTemplate="header">
        <tr class="heroes-page_table_table_header_tr">
          <th class="heroes-page_table_table_header_tr_th" *ngFor="let col of cols"
            [ngStyle]="{'width.%': columnsWidth}" [pSortableColumn]="col.field">{{col.header}}</th>
        </tr>
      </ng-template>
      <ng-template class="heroes-page_table_body" pTemplate="body" let-hero let-i="rowIndex">
        <tr class="heroes-page_table_body_tr">
          <td [class]="(i%2) == 0 ? 'heroes-page_table_body_tr_dark' : 'heroes-page_table_body_tr_light'"
            *ngFor="let col of cols">{{hero[col.field]}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>





  <div class="users">
    <ul class="users_list">
      <li *ngFor="let user of users" class="users_list_element">
        <!-- <app-label [(text)]="user.name"></app-label> -->
        <div class="users_list_element_name">{{user.name}}</div>
        <div class="users_list_element_email">{{user.email}}</div>
        <div class="users_list_element_adress-city">{{user.address?.city}}</div>
        <div class="users_list_element_id">{{user.id}}</div>
      </li>
    </ul>
  </div>
  <!-- <app-hero-detail [hero]="selectedHero"></app-hero-detail> -->
</div>