/* HeroesComponent's private CSS styles */

.heroes-page {

  &_container {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    // width: 15em;

    &_card {
      position: relative;
      cursor: pointer;
      // background-color: rgb(233, 219, 219);
      // border-radius: 10px;
      // padding: 10px;

      &:hover {
        left: .1em;
      }
    }

    &_card {
      background-color: var(--color-3-really-light);
      border-radius: 10px;
      padding: .5em;
      margin: .5em;
      // display: flex;
      // justify-content-end: left;

      &_link {
        color: var(--color-1-really-dark);
        text-decoration: none;
        background-color: var(--color-1);
        margin: .5em;
        padding: .3em;
        height: 2em;
        border-radius: 4px;
        display: block;
        // width: 100%;

        &:hover {
          color: var(--color-1-ultra-dark);
          background-color: var(--color-2-almost-white);
        }

        &:active {
          background-color: var(--color-2-black);
          color: var(--color-2-almost-white);
        }

        &_badge {
          display: inline-block;
          font-size: small;
          color: var(--color-2-white);
          padding: 0.8em 0.7em 0 0.7em;
          background-color: var(--color-1-very-dark);
          line-height: 1em;
          position: relative;
          left: -5px;
          top: -5px;
          height: 2.5em;
          // min-width: 16px;
          text-align: right;
          margin-right: .8em;
          border-radius: 4px 0 0 4px;
        }
      }

      &_button-delete {
        position: absolute;
        right: 0rem;
        top: .85rem;
        background-color: var(--color-2-white);
        color: var(--color-3-dark);
        font-size: 1.1rem;
        margin: 0;
        padding: 1px 10px 3px 10px;
        border-radius: 5px;
        height: 2em;

        &:hover {
          background-color: var(--color-3-dark);
          color: var(--color-2-white);
        }
      }
    }
  }

  &_add-hero {

    #new-hero-label {
      // color: #0a6784;
      color: var(--color-1-dark);
      font-weight: bold;
    }

    &_button {
      // padding: .5rem 1.5rem;
      // font-size: 1rem;
      // margin-bottom: 2rem;
      color: var(--color-1-really-dark);
      background-color: var(--color-1);

      &:hover {
        color: var(--color-1-ultra-dark);
        background-color: var(--color-1-dark);
      }
    }

    .ng-valid[required],
    .ng-valid.required {
      border-left: 5px solid var(--color-4);
      /* green */
    }

    .ng-invalid:not(form) {
      border-left: 5px solid var(--color-5);
      /* red */
    }
  }

  // .ng-valid:enabled {
  //   border: 2px solid #42A948;
  //   /* green */
  // }

  // .ng-invalid:enabled {
  //   border: 2px solid #a94442;
  //   /* red */
  // }
}