/* HeroesComponent's private CSS styles */

.heroes-page {

  &_container {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;

    // width: 15em;

    &_card {
      position: relative;
      cursor: pointer;
      // background-color: rgb(233, 219, 219);
      // border-radius: 10px;
      // padding: 10px;

      &:hover {
        left: .1em;
      }
    }

    &_card {
      background-color: rgb(233, 219, 219);
      border-radius: 10px;
      padding: .5em;
      margin: .5em;
      // display: flex;
      // justify-content-end: left;

      &_link {
        color: #333;
        text-decoration: none;
        background-color: var(--color-1);
        margin: .5em;
        padding: .3em;
        height: 1.6em;
        border-radius: 4px;
        display: block;

        // width: 100%;
        &:hover {
          color: #2c3a41;
          background-color: var(--color-1-dark);
        }

        &:active {
          background-color: #525252;
          color: #fafafa;
        }

        &_badge {
          display: inline-block;
          font-size: small;
          color: white;
          padding: 0.8em 0.7em 0 0.7em;
          background-color: #405061;
          line-height: 1em;
          position: relative;
          left: -1px;
          top: -4px;
          height: 1.8em;
          // min-width: 16px;
          text-align: right;
          margin-right: .8em;
          border-radius: 4px 0 0 4px;
        }
      }

      &_button-delete {
        position: absolute;
        right: .5rem;
        top: .3rem;
        background-color: white;
        color: #525252;
        font-size: 1.1rem;
        margin: 0;
        padding: 1px 10px 3px 10px;

        &:hover {
          background-color: #525252;
          color: white;
        }
      }
    }
  }

  &_add-hero {

    #new-hero-label {
      color: #0a6784;
      font-weight: bold;
    }

    &_button {
      // padding: .5rem 1.5rem;
      // font-size: 1rem;
      // margin-bottom: 2rem;
      color: rgb(26, 182, 39);
      background-color: red;

      &:hover {
        color: white;
        background-color: #42545C;
      }
    }

    .ng-valid[required],
    .ng-valid.required {
      border-left: 5px solid #42A948;
      /* green */
    }

    .ng-invalid:not(form) {
      border-left: 5px solid #a94442;
      /* red */
    }
  }

  // .ng-valid:enabled {
  //   border: 2px solid #42A948;
  //   /* green */
  // }

  // .ng-invalid:enabled {
  //   border: 2px solid #a94442;
  //   /* red */
  // }
}