<div class="container" [class]="todo.completed ? 'completed' : 'incompleted'">
  <ul class="container_list">
    <li>
      <span *ngIf="todo && todo.userId" class="etiqueta">
        <span *ngIf="todo.userId === todoTypes.ADMIN || todo.userId === todoTypes.MODER">{{todoTypeNames[todo.userId]}}</span>
      </span>
      <span class="container_list_title"> - {{todo.title}}</span>
    </li>
    <li>
      Completed: 
      <span class="container_list_completed">{{todo.completed}}</span>
    </li>
    <li>
      Id: 
      <span class="container_list_id">{{todo.id}}</span>
    </li>
    <li>
      UserId: 
      <span class="container_list_userId">{{todo.userId}} </span>
      <img src="\assets\img\user.png" width="50">
    </li>
  </ul>
</div>