/* HeroDetailComponent's private CSS styles */
.hero-detail {

  &_info {

    &_atributes {

      &_label {
        color: var(--color-1-really-dark);
        font-weight: bold;
      }

      &_input {
        font-size: 1em;
        padding: .5rem;
      }
    }
  }

  &_button {
    margin-top: 20px;
    margin-right: .5rem;
    background-color: var(--color-2-almost-white);
    padding: 1rem;
    border-radius: 4px;
    font-size: 1rem;

    &:hover {
      color: var(--color-2-white);
      background-color: var(--color-1-very-dark);
    }

    &:disabled {
      background-color: var(--color-2-almost-white);
      color: var(--color-2-gray-light);
      cursor: auto;
    }
  }
}
