// :root {
//   --color-1: rgb(128, 186, 244);  
//   --color-1-dark: rgb(93, 93, 255);
// }

:root {
  --base-color-1: 197, 62%; // Azules apagados
  --color-1: hsla(var(--base-color-1), 50%);
  --color-1-dark: hsla(var(--base-color-1), 40%);
  --color-1-very-dark: hsla(var(--base-color-1), 25%);
  --color-1-really-dark: hsla(var(--base-color-1), 15%);
  --color-1-ultra-dark: hsla(var(--base-color-1), 10%);
  --color-1-ultra-light: hsla(var(--base-color-1), 90%);

  --base-color-2: 0, 0%; // Grises
  --color-2-white: hsla(var(--base-color-2), 100%);
  --color-2-almost-white: hsla(var(--base-color-2), 90%);
  --color-2-black: hsla(var(--base-color-2), 0%);
  --color-2-gray: hsla(var(--base-color-2), 50%);
  --color-2-gray-light: hsla(var(--base-color-2), 70%);
  

  --base-color-3: 14, 15%; // Marrones
  --color-3: hsla(var(--base-color-3), 50%);
  --color-3-dark: hsla(var(--base-color-3), 28%);
  --color-3-really-light: hsla(var(--base-color-3), 80%);

  --base-color-4: 113, 63%; // Verdes
  --color-4: hsla(var(--base-color-4), 50%);
  --color-4-light: hsla(var(--base-color-4), 70%);

  --base-color-5: 0, 100%; // Rojos
  --color-5: hsla(var(--base-color-5), 50%);
  --color-5-light: hsla(var(--base-color-5), 70%);

  --base-color-6: 240, 100%; // Azules
  --color-6: hsla(var(--base-color-6), 50%);
  --color-6-light: hsla(var(--base-color-6), 70%);

}