<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
      <span *ngIf="hero.typeId"> - {{heroTypeNames[hero.typeId]}}</span>
    </a>
    <app-label [(text)]="hero.name"></app-label>
    <!-- <app-label [text]="hero.name" (textChange)="onChangeTextParent($event, hero)"></app-label> -->
    <!-- <app-label [text]="hero.name" (textChange)="hero.name = $event"></app-label> -->
  </li>
</ul>


<div class="card">
  <ul class="users">
    <li *ngFor="let user of users">
      <!-- <app-label [(text)]="user.name"></app-label> -->
      <div class="name">{{user.name}}</div>
      <div>{{user.email}}</div>
      <div>{{user.address?.city}}</div>
      <div>{{user.id}}</div>
    </li>
  </ul>
</div>

<!-- <app-hero-detail [hero]="selectedHero"></app-hero-detail> -->